
      
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
    :root{
      --container-width:1350px;
    }
    *{
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
        outline: none;border: none;
        text-decoration: none;
        transition: all .2s linear;
     
    }
    
    html{
        font-size: 100%;
        overflow-x: hidden;
        scroll-padding-top: 6rem;
        scroll-behavior: smooth;
    }
    body,html{
      margin:0;
      width: 100%;

    }
     section{
       padding-top: 25px;
     }
    
     .top-container{
      width:100%;
      max-width:var(--container-width);
      overflow: hidden;
     margin: auto; 
  }   
    
    nav{
      position: sticky;
      top: 0; left: 0 ;right: 0; 
      z-index: 1000;
    background: #f6f6f4;
    min-height: 70px;
  }
  nav .nav-container{
    width:100%;
    max-width:var(--container-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;

  }
  nav .logo a{
    max-width: 230px !important;
    width:100%;
  }
  nav .logo a img{
    max-width: 230px !important;
    width:100%;
  }
  nav .nav-items{
    margin-right:auto;
    display: flex;
    flex: 1;
    padding: 0 0 0 50px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 0 15px;
  }
  nav .nav-items li a{
    color: #232b56;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items li a:hover{
    color: #f0be38;
  }
  nav form{
    display: flex;
    height: 40px;
    padding: 2px ;
    background: #efefef;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #232b56;
    font-size: 14px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #232b56;
    font-size: 17px;
    background: #f0be38;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nav form button:hover{
    background: #232b56;
    color: #f0be38;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 25px;
    color: #232b56;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  
  @media(max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
  }
  @media(max-width: 1140px){
    nav{
      padding: 0px;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background: #f6f6f4;
      display: inline-block;
      transition: left 0.3s ease;
     
    }
    nav .nav-items.active{
      left: 0px;
      
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
    nav .nav-items li a{
      font-size: 20px;
    }
    nav form{
      position: absolute;
      top: 80px;
      right: 50px;
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #f0be38;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #f0be38;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  
  nav .logo.space{
    color: #232b56;
    padding: 0 5px 0 0;
  }
  @media(max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;
    }
    nav form{
      right: 30px;
    }
  }
  @media(max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .home{
    padding-top: 0px;
  }
     
    
    
    .container{
        width: 100%;
        height: auto;
        background-color: #f6f6f4;
        
    }
    .container .content{
      max-width: var(--container-width);
      margin: auto;
      padding: 20px 0px 25px;
    }
    .container .content h1{
         color: #232b56;
         font-size: 28px;
         margin-bottom: 10px;
    }
    .container .content .card-btn{
        background-color: #f0be38;
        color: #fff;
        border: 0px;
        display: inline-block;
        padding: .5rem 25px;
        font-size: 16px;
        cursor: pointer;
    }
    .container .content .card-btn:hover{
        background: #232b56;
        color: #f0be38;
    }
    

    .head-about{
      display: flex;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  .head-about img{
    height: 33px;
  }
   .head-about h1{
      flex: 1;
      color: #232b56;
      display: flex;
      padding: 2px 0 0 12px;
      font-size: 1.5rem;
  }
    .holder{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .card{
        background-color: #fff;
        width: 420px;
        height: auto;
       overflow: hidden;
       margin-top: 10px;
    }
    .card-image{
        background-color: #f0be38;
        height: 260px;
        margin-bottom: 15px;
        background-size: cover;
        background-size: 100% 100%;
    }
    .card-1{
        background-image: url('SelamBank about us.jpg');
    }
    .card-2{
        background-image: url('SelamBank.vision.jpg');
    }
    
    .card-3{
        background-image: url('SelamBank.Objective.jpg');
    }
    .card img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .shares .card{
      width:330px;
    }
    .shares .card img{
       width: 100%;
    }
    .card p{
        color: #979797;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        text-transform: none;
    }
    .share-logo img{
     display: block;
     width: 380px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 35px;
    }
     .shares .holder{
       margin-bottom: 40px;
     }

   
    @media(max-width:1025px){
      .container .content{
        margin: 0px 25px;
      }

  
       .holder{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
        }
        .shares .holder{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .head-about{
          padding: 0px 25px;
        }
        .holder{
          padding: 0px 20px;
        }
        .card-image {
          height: 225px;
        }
       .card{
         margin: 15px;
       }
       .share-logo img{
         margin-bottom: 10px ;
         width: 340px;
       }
       .shares .card{
        width:300px;
      }
       .shares .card img{
         margin: 20px 0px;
      }
       
       .head-share p{
        margin: 15px 15px;
       }
       .head-share button{
        margin: 5px 15px;
          
      }
      .head-share{
        margin: 15px 15px;
       }
       .head-org{
         margin: 0px 22px;
       }
       .cont_container{
         margin: 0px 22px;
       }
    
    }
    @media(max-width:768){
      .shares .card img{
        justify-content: center;
        }
        .card-image {
          height: 220px;
        }
        .shares .holder{
          margin-bottom: 0px;
        }
    }
    @media(max-width:500px){
      .container .content{
        margin: 0px 25px;
      }
      .container .content h1{
        font-size: 24px;
      }
      .container .content .card-btn{
        font-size: 13px;
      }
      .head-about{
        padding: 0px 27px;
      }
     
      .shares .holder{
        margin-bottom: 20px;
      }
      .holder{
        padding: 0px 20px;
        margin-bottom: 0px;
      }
      .card-image {
        height: 210;
      }
     .card{
       margin: 20px;
     }
     .share-logo img{
       margin-bottom: 10px ;
      
     }
     .shares .card img{
       margin: 20px 0px;
     
      margin-left: auto;
      margin-right: auto;

     }
     
     .head-share{
      margin: 15px 15px;
     }
     .head-org{
       margin: 0px 10px;
     }
     .cont_container{
       margin: 0px 10px;
     }
  
    }
    @media(max-width:400px){
      .card-image {
        height: 180px;
      }
    }
  
    .head-share p{
      color: #979797;
      font-weight: 500;
      font-size: 16px;
      text-transform: none;
      text-align: justify;
   
    }
    .head-share h1 {
        padding-bottom: 15px;
    }
    .share-btn{
        background-color: #f0be38;
        color: #fff;
        border: 0px;
        display: inline-block;
        margin-top: 1rem;
        padding: .5rem 1rem ;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
    .share-btn:hover{
        background: #232b56;
        color: #f0be38
    }
    
    .review{
        overflow-x: hidden;
      } 
    
     .review .review-slider{
        padding-bottom: 2rem;
      }
      
      .review .box{
        padding: 2rem;
        text-align: center;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
      }
      
      .review .box img{
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
      }
    
    .brand-container{
        overflow-x: hidden;
        text-align: center;
        margin: 0px 22px;
        margin-bottom: 30px;
    }
    
    .brand-container h5{
      color: #232b56;
      text-align: center;
      padding: auto;
      padding-bottom: 2rem;
      text-transform: capitalize;
    }
    .brand-container .brand-slider{
      padding-bottom: 2rem;
    }
    
    .brand-container.box{
      padding: 0;
      text-align: center;
      box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
      border-radius: .5rem;
    }
    
    .brand-container .box img{
      height: 5rem;
      width: 10;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .brand-container .box h2{
      color: #232b56;
      font-size: 1rem;
    }
    .brand-container .box h3{
      color:#4b548b;
      font-size: 1rem;
    }
    
    .brand-container .box p{
      color:#232b56;
      font-size: 1rem;
      padding: 0rem 0;
    }
    
    
    .head-org p{
      color: #979797;
      margin-top: 2rem;
      text-transform: none;
      text-align: justify;
      font-weight: 500;
    }
    .hex img {
      opacity: 1;
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .hex-holder{
      display: flex;
      justify-content:flex-start;
      overflow: hidden;
      
    }
    .hexagon-gallery {
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        grid-auto-rows: 175px;
        grid-gap: 14px;
        padding-bottom: 70px;
        margin-left: -12px;
      }
      .hex  .names{
    
        transition:.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform:translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding-top: 4rem;
      
    }
      .hex .names .text h1{
        white-space: nowrap;
        overflow: hidden;
        color: #232b56;
        font-size: 17px;
        text-transform: none;
        text-align: center;
      }
      .hex .names .text p{
        color: #fff;   
        font-size: 13px;
        text-align: center;
        text-transform: none;
        font-weight: 500;
      }
    
    
    .hex {
      display: flex;
      position: relative;
      width: 213px;
      height: 238px;
      background-color: #f0be38;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    
    .hex:first-child {
      grid-row-start: 1;
      grid-column: 2 / span 2;
    }
    
    .hex:nth-child(2) {
      grid-row-start: 1;
      grid-column: 4 / span 2;
    }
    
    .hex:nth-child(3) {
      grid-row-start: 1;
      grid-column: 6 / span 2;
    }
    
    .hex:nth-child(4) {
      grid-row-start: 1;
      grid-column: 8 / span 2;
    }
    
    .hex:nth-child(5) {
      grid-row-start: 1;
      grid-column: 10 / span 2;
    }
    
    .hex:nth-child(6) {
      grid-row-start: 1;
      grid-column: 12 / span 2;
    }
    
    .hex:nth-child(7) {
      grid-row-start: 2;
      grid-column: 3 / span 2;
    }
    
    .hex:nth-child(8) {
      grid-row-start: 2;
      grid-column: 5 / span 2;
    }
    
    .hex:nth-child(9) {
      grid-row-start: 2;
      grid-column: 7 / span 2;
    }
    
    .hex:nth-child(10) {
      grid-row-start: 2;
      grid-column: 9 / span 2;
    }
    .hex:nth-child(11) {
      grid-row-start: 2;
      grid-column: 11 / span 2;
    }
    .hex:hover .founder-image{
      opacity: 0.3;
    }
    .hex:hover .names{
      opacity: 1;
    }
    
    @media(max-width:1025px){
      .hex-holder{
        justify-content: center;
      }
      .hexagon-gallery{
        align-items: center;
        grid-auto-rows: 165px;
        grid-gap: 5px;
      }
      .hex{
        width: 180px;
        height: 195px;
      }
      .hex .names{
        padding-top: 3rem;
      }
      .hex .names .text h1{
        color: #232b56;
        font-size: 1rem;
        text-align: center;
        text-transform: none;
      }
      .hex .names .text p{
        font-size :.7rem;
        text-align: center;
      }
    
      .hex:first-child {
        grid-row-start: 1;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(2) {
        grid-row-start: 1;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(3) {
        grid-row-start: 1;
        grid-column: 5 / span 2;
      }
      
      .hex:nth-child(4) {
        grid-row-start: 1;
        grid-column: 7 / span 2;
      }
      
      .hex:nth-child(5) {
        grid-row-start: 2;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(6) {
        grid-row-start: 2;
        grid-column: 4 / span 2;
      }
      
      .hex:nth-child(7) {
        grid-row-start: 2;
        grid-column: 6 / span 2;
      }
      
      .hex:nth-child(8) {
        grid-row-start: 3;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(9) {
        grid-row-start: 3;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(10) {
        grid-row-start: 3;
        grid-column: 5 / span 2;
      }
      .hex:nth-child(11) {
        grid-row-start: 3;
        grid-column: 7 / span 2;
      }
    }
    
    
    
    @media(max-width:768px){
      .hexagon-gallery{
        align-items: center;
        grid-gap: 5px;
        grid-auto-rows: 165px;
        margin: 25px 15px;
      }
      
      .hex{
      
        width: 200px;
        height: 215px;
      }
      .hex .names .text h1{
        color: #232b56;
        font-size: 1rem;
        text-align: center;
        text-transform: none;
      }
      .hex .names .text p{
        font-size :.7rem;
        text-align: center;
      }
    
      .hex:first-child {
        grid-row-start: 1;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(2) {
        grid-row-start: 1;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(3) {
        grid-row-start: 1;
        grid-column: 5 / span 2;
      }
      
      .hex:nth-child(4) {
        grid-row-start: 2;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(5) {
        grid-row-start: 2;
        grid-column: 4 / span 2;
      }
      
      .hex:nth-child(6) {
        grid-row-start: 3;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(7) {
        grid-row-start: 3;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(8) {
        grid-row-start: 3;
        grid-column: 5 / span 2;
      }
      
      .hex:nth-child(9) {
        grid-row-start: 4;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(10) {
        grid-row-start: 4;
        grid-column: 4 / span 2;
      }
      .hex:nth-child(11) {
        grid-row-start: 5;
        grid-column: 3 / span 2;
      }
      .head-org{
        padding: 0px 15px;
      }
    }
    @media(max-width:500px){
      .hex-holder{
        margin-top: 25px;
      }
      .hexagon-gallery{
        align-items: center;
        grid-auto-rows: 150px;
        grid-gap: 5px;
        margin: 0px 25px;
      }
      .hex{
        width: 175px;
        height: 190px;
      }
      .hex .names{
        padding-top: 3rem;
      }
      .hex .names .text h1{
        color: #232b56;
        font-size: 1rem;
        text-align: center;
        text-transform: none;
      }
      .hex .names .text p{
        font-size :.7rem;
        text-align: center;
      }
    
      .hex:first-child {
        grid-row-start: 1;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(2) {
        grid-row-start: 1;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(3) {
        grid-row-start: 2;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(4) {
        grid-row-start: 3;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(5) {
        grid-row-start: 3;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(6) {
        grid-row-start: 4;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(7) {
        grid-row-start: 5;
        grid-column: 1 / span 2;
      }
      
      .hex:nth-child(8) {
        grid-row-start: 5;
        grid-column: 3 / span 2;
      }
      
      .hex:nth-child(9) {
        grid-row-start: 6;
        grid-column: 2 / span 2;
      }
      
      .hex:nth-child(10) {
        grid-row-start: 7;
        grid-column: 1 / span 2;
      }
      .hex:nth-child(11) {
        grid-row-start: 7;
        grid-column: 3 / span 2;
      }
    }
    @media (max-width:360px){
      .hex-holder{
        margin-top: 25px;
      }
      .hexagon-gallery{
        align-items: center;
        grid-auto-rows: 130px;
        grid-gap: 5px;
        margin: 0px 15px;
        margin-bottom: -25px;
      }
      .hex{
        width: 160px;
        height: 175px;
      }
      .hex .names{
        padding-top: 3rem;
      }
      .hex .names .text h1{
        color: #232b56;
        font-size: 1rem;
        text-align: center;
        text-transform: none;
      }
      .hex .names .text p{
        font-size :.7rem;
        text-align: center;
      }
    }
  
  
     .foot{
       padding: 2rem 0%;
       padding-bottom: 0px;
     }
    footer{
      min-height: 250px;
      background: #232b56;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    .containers{
      display: flex;
      
    }
    .content-box{
      display: flex;
      margin: 15px;
      color: #f6f6f4;
      
    }
    .content-box p{
      font-size: 15px;
      color: #f6f6f4;
      font-weight: 500;
     padding-top: .3rem;
    }
    .content-box img{
      font-size: 36px;
      margin-right: 10px;
      color: #f0be38;
      height: 30px;
    }
    .footer-img{
      margin-top: 10px;
    }
    .content-box .para p{
      font-size: 15px;
      color: #f6f6f4;
      font-weight: 500;
      padding-top: .3rem;
    }
    
    footer .social a{
      margin: 10px;
      font-size: 15px;
      color: #f0be38;
    }
    footer .social a:hover{
      color: #979797;
    }
    .footer-bottom{
  background: #12183d;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 1rem;
}
.footer-bottom p{
  color: #f0be38;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
    
    .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
    }
    
    @media(max-width:768px){
      .containers{
        flex-direction: column;
      }
      .content-box{
       display: flex;
       flex-direction: column;
       margin: 15px;
       color: #f6f6f4;
       font-family: 'Montserrat', sans-serif;
       
     }
      .content-box p{
       font-size: medium;
       color: #fff;
       font-weight: 500;
       padding-top: 0rem;
       padding-left: 4rem;
     }
     .content-box img{
       font-size: 36px;
       color: #f0be38;
       height: 30px;
       margin-left: 50%;
       margin-right: 50%;
     }
     .content-box .para p{
       font-size: medium;
       color: #fff;
       padding-top: 0rem;
       padding-bottom: 0rem;
       font-weight: 500;
       padding-left: 2rem;
     }
     
      .content-box{
        margin: 10px;
       
        }
        .content-box p{
         text-align: center;
         padding-left: 0rem;
         font-size: 1rem;
         padding-top: .3rem;
         padding-bottom: 1rem;
         white-space: pre-line;
        }
        .content-box img{
          margin-left: auto;
          margin-right: auto;
          margin-top: -1rem;
        }
        .content-box .para p{
         text-align: center;
         font-size: 1rem;
         padding-top: .3rem;
         margin-left: -2.3rem;
       }
       .footer-img{
         padding-top: 1rem;
         padding-bottom: .6rem;
       }
      }
    
    .login-form-container{
      position: fixed;
      left: 0;
      bottom: 0 !important;
      z-index: 10000;
      min-height: 100vh;
      width:100%;
      background:rgba(0,0,0,.7);
      display: none;
      overflow:auto;
      
    }
    
    .login-form-container.active{
      top:0;
      font-size: 10px;
      display: flex !important;
      align-items: flex-start;
      justify-content: center;
    
    }
    
    .login-form-container form{
      margin:2rem;
      padding:1rem 2rem;
      border-radius: .5rem;
      background:#fff;
      width:40rem;
      flex-wrap: wrap;
      margin-top:6rem;
    }
    
    .login-form-container form h3{
      font-size: 1.4rem;
      color:#232b56;
      text-transform: uppercase;
      text-align: center;
      padding:1rem 0;
    }
    .login-form-container form .box{
      width:100%;
      padding:1.5rem;
      font-size: 1rem;
      color:#333;
      margin:.6rem 0;
      border:.1rem solid rgba(0,0,0,.3);
      text-transform: none;
    }
    .login-form-container form .btn1{
      display: block;
      width: 100%;
      padding: 16px 0px;
 
      text-align: center;
      color: #232b56;
      background-color: #f0be38;
      border: none;
      border-radius: 0px;
      transition: 0.2s;
      cursor: pointer;
      letter-spacing: 0.1rem;
      margin: 1rem 0 1rem 0;
      text-transform: uppercase; 
      font-weight: bold; 
      font-size: 15px;
    }
    .login-form-container form .btn1:hover,
    .login-form-container form .btn1:active {
        background-color: #232b56;
        color: #f0be38;
      }
    
    
    
    .login-form-container #form-close{
      position: absolute;
      top:2rem; right:3rem;
      font-size: 3rem;
      color:#efefef;
      cursor: pointer;
    }
    @media(max-width:400px){
      .login-form-container form .btn1{
        font-size: 13px;
      }
      .login-form-container form .btn1 strong{
        font-size: 27px !important;
      }
    }
    @media(max-width:285px){
      .login-form-container form .btn1{
        font-size: 9px;
      }
      .login-form-container form .btn1 strong{
        font-size: 20px !important;
      }
    }

    
    
    footer{
    bottom: 0; left: 0; right: 0;
    position: relative;
    }
    
    
    @media(max-width:768px){
      html{
          font-size: 90%;
      }
    }
    @media(max-width:480px){
      html{
          font-size: 80%;
          
      }
    }
    @media(max-width:300px){
      html{
          font-size: 65%;
          
      }
    }
   @media(min-width:2000px){
      html{
         zoom: 2;
      }
     
    }
     @media(min-width:2500px){
      html{
         zoom:2.5;
      }
     
    }
    @media(min-width:4000px){
      html{
         zoom:3;
      }
     
    }

   


   
    
      
        
    
    
    
  
